.ipynb_checkpoints/
3D/
code/deep_sort/__pycache__
code/deep_sort/deep/__pycache__
code/deep_sort/deep/checkpoint
code/models/
code/output/
data/
output/
out/
params/
sdkLog/
/Alarm.o
/calibrate
/Calibrate.o
/calibrate.py
/calibrate.sh
/cam_0_extrinsic.npz
/cam_1_extrinsic.npz
/cam_2_extrinsic.npz
/cam_3_extrinsic.npz
/CapPicture.o
/clear.sh
/ConfigParams.o
/consoleMain.o
/GetStream.o
/job
/job.sh
/Makefile
/match_debug.py
/match_precalib.py
/match.py
/out.mp4
/output.txt
/playback.o
/pose_ball_estimate.py
/preview.html
/record_para.py
/record.py
/result.mp4
/ssss.jpeg
/tool.o
/Try.o
/vid_result.sh
/Voice.o